- if @restaurants.any?
  - @restaurants.each do |restaurant|
    - review = restaurant.reviews.first
    %div#details
      %header
        = link_to restaurant.name.upcase, restaurant_path(restaurant)
      %content
        %image
          %img{:src => restaurant.image}
        %description
          %div#text
            = restaurant.description
            = review.thoughts if review
          %div#options
            = link_to "Edit", edit_restaurant_path(restaurant)
            = link_to "Review", new_restaurant_review_url(restaurant)
            = link_to "Delete", restaurant_path(restaurant), method: :delete

        %rating
          = restaurant.average_rating



- else
  No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
