- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %div
      = link_to restaurant.name, restaurant_path(restaurant)
      = restaurant.description
      = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
      - if restaurant.reviews.any?
        = restaurant.reviews.first.thoughts
- else
  No restaurants yet!

%a(href='restaurants/new') Add a restaurant
